<mat-toolbar>
  <span>Sport Dukaan</span>
  <span class="example-spacer"></span> 
  <span class="example-spacer"></span> 
  <button style="margin:5px" onclick="alert('Cart Yet To Add') ">Cart</button>
  <button  class="topbtns" style="margin:5px" onclick="alert('Login Yet To Add')">Login</button>
</mat-toolbar>  
  <div class="container">
    <img src="assets/img/download.jpg" style="width: 100%;height: 800px">
    <h2 class="centered" style="font-family:verdana;" ><b>Cricket</b>&nbsp;</h2>  
    <button class="centered1" onclick="alert('Buy Yet To Add')">Buy</button>
  </div>
  <div class="container">
    <img src="assets/img/badminton.jpg" style="width: 100%;height: 800px">
    <h2 class="centered" style="font-family:verdana;" ><b>Badminton</b>&nbsp;</h2>  
    <button class="centered1" onclick="alert('Buy Yet To Add')">Buy</button>
  </div>
  <div class="container">
    <img src="assets/img/tennis.jpg" style="width: 100%;height: 800px">
    <h2 class="centered" style="font-family:verdana;" ><b>Tennis</b>&nbsp;</h2>  
    <button class="centered1" onclick="alert('Buy Yet To Add')">Buy</button>
  </div>
  <div class="container">
    <img src="assets/img/football.jpg" style="width: 100%;height: 800px">
    <h2 class="centered" style="font-family:verdana;" ><b>Football</b>&nbsp;</h2>  
    <button class="centered1" onclick="alert('Buy Yet To Add')"> Buy</button>
  </div>
<router-outlet></router-outlet>